# 🧠 AI & Vision (객체 탐지, 텍스트 인식, 의미 추론)
ultralytics
onnxruntime          # ONNX 모델 추론 (best.onnx 사용)
easyocr
sentence-transformers
opencv-python-headless

# 🤖 Test Automation & Web (E2E 테스트 및 병렬 실행)
pytest
pytest-playwright
playwright
pytest-xdist
faker

# 🛠️ Utilities (환경 변수 등)
python-dotenv

onnx             #(ONNX 포맷 지원)
onnxruntime